*{
    padding: 0;
    margin: 0 ;
    box-sizing:border-box;
    max-width:100%;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    width:100%;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.container{
    min-height: 100vh;
    /* width: 100%;
    max-width:992px; */
    display:flex;
    align-items: center;
    /* justify-content: center; */
}
.img{
    width:100%;
    object-fit:cover;
}
p{
    color:rgb(34, 30, 30);
    font-size:1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
.section-title{
    font-size: 25px;
    font-weight: 400;
    color:rgb(44, 43, 43);
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: .5rem;
    text-align: center;
}
.section-title span{
    color:tomato;
}
.protfolio{
    display: inline-block;
    padding: 10px 30px;
    color:white;
    background-color: transparent;
    border:2px solid tomato;
    font-size: 15px;
    font-weight:600;
    text-transform: uppercase;  
    letter-spacing: 3px;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}
.protfolio:hover{
    color:white;
    background-color:tomato;
    transition: 1s;
}
.brand h1{
    font-size: 20px;
    text-transform: uppercase;
    color:white;
    letter-spacing: 0.5rem;
}
.brand span{
    color:tomato;
}
/******* 
Header
*******/
#header{
    position: fixed;
    z-index:1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#header .header{
    min-height: 5vh;
    background-color:rgba(31, 30, 30, 0.315);
    transition:.3s ease background-colo;
}
.header .nav-bar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}
#header .nav-list ul{
    list-style: none;
    position: absolute;
    background:rgba(31 ,30 , 30);
    width: 100vw;
    height: 100vh;
    left:100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: .4s ease left;
}
#header .nav-list ul.active{
    left:0;
}
#header .nav-list ul a{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: .2rem;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}
#header .nav-list ul li a::after{
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color:rgba(240, 248, 255, 0.021);
    font-size:10rem;
    letter-spacing:3px;
    z-index:-1;
    transition:.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}
#header .nav-list ul li a:hover{
    color:tomato;
}
#header .hamburger{
    height:60px;
    width: 60px;
    display:inline-block;
    border:3px solid white;
    border-radius: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:100;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 10px;
}
#header .hamburger::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border:3px solid white;
    z-index:-1;
    animation: hamburger_puls 3s ease infinite;
}
#header .hamburger .bar{
    height:2px;
    width: 30px;
    position: relative;
    background-color:white;
    z-index:-1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color:white;
    transition:.3s ease;
    transition-property: top, bottom ;
}
#header  .hamburger .bar::after{
    top:8px;
}
#header  .hamburger .bar::before{
    bottom:8px;
}
#header  .hamburger.active .bar::after{
    top: 0;
}
#header  .hamburger.active .bar::before{
    bottom: 0;
}

/******* 
Hero section  
*******/
#hero{
    background-image: url(https://upload.cc/i1/2020/10/25/9jekox.jpg
    );
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    
}
#hero::after{
    content:'';
    position: absolute;
    left:0;
    top:0;
    height: 100%;
    width:100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero .hero{
    
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
    width:100%;
}
#hero h1{
    display: block;
    width:fit-content;
    font-size:30px;
    position: relative;
    color:transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: .8s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}
#hero h1:nth-child(4){
    animation-delay: 4s;
}
#hero h1 span{
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 0;
    /* background-color:tomato; */
    border-bottom:3px solid tomato;
    animation: text_reveal_box 1s ease;
    animation-delay: .3s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}
#hero h1:nth-child(4) span{
    animation-delay: 3.5s;
}

/******* 
service section 
*******/
#services .service{
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 100px 0;
    
}
.service-top h2{
    color:rgb(44, 43, 43);
    font-size:1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
#services .service-top p{
    color:rgb(44, 43, 43);
    text-align: center;
    margin: 50px 100px 30px;
}
#services .service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
} 
#services .service-item{
    flex-basis: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    /* border:4px solid rgb(83, 83, 83); */
    border-left: 10px solid rgba(25, 21, 49, 0.781);
    /* background-color: #e6e6e6; */
    margin: 10px 5%;
    box-shadow: 14px 17px 22px 0px rgba(115, 115, 115, 0.192);
}

#services .service-bottom i{
    color:rgba(24, 24, 24, 0.616);
    margin-bottom: 10px;
}
 .service-item h2{
    color:rgba(24, 24, 24, 0.616);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}
#services .service-item p{
    color:rgb(59, 59, 59);
    text-align: left;
    font-size: 12px;
    line-height: 1.9rem;
}

/*******
projects section 
********/
#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}
.projects-item .box{
    display:block;
    background:#2B2222;
    margin: 40px;
    padding: 20px;
    text-align:center ;
    /* width: 60%; */
}
.box-info{
    color:white;
    margin: 20px 0;
}
.box-info h2{
    color:white;
    margin: 15px 0;
}
.box-info span{
    color:tomato;
}
.box-info p{
    color:white;
    margin: 10px;
}
.box-info a{
    color:#707070;
    border:2px solid #707070;
    background-color: transparent;
    padding: 10px;
    margin: 20px 0 30px;
    display: inline-block;
    cursor: pointer;
    letter-spacing: .3rem;
    transition: 1s ;
}
.box-info a:hover{
    color:white;
    font-weight:bold;
    background-color:tomato;
    border:2px solid tomato;   
    transform: scale(1.1);

}
.projects-item img{
    width: 350px;

}

/****** 
about section
*******/
.about{
    flex-direction: column-reverse;
    text-align:center;
    max-width:1200px;
    margin:0 auto;
    padding: 60px 20px;
    background:whitesmoke;
}
.col-left{
    width: 250px;
    height: 360px;
}
.col-right{
    width: 100%;
}
.col-right h2{
    font-size:18px;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
.col-right p{
    color:rgb(44, 43, 43);
    margin: 20px;
}
.col-right .protfolio{
    color:rgb(78, 72, 72);
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 15px;
    transition: .5s;
}
.col-right .protfolio:hover{
    color:white;
}
.col-left .about-img{
    height: 100%;
    width: 100%; 
    position: relative;
    z-index: 1;
}
.about-img img{
    border:7px solid whitesmoke;
}
.col-left .about-img::after{
    content:'';
    position: absolute;
    left: -33px;
    top: 50px;
    height: 70%;
    width: 100%;
    border:7px solid rgba(255, 99, 71, 0.801);
    z-index: -1;
}

/******
contact section
*******/
.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1200px;
    margin: 60px auto 0;
    /* height: 80vh; */
    padding: 60px 20px;
}
.contact-item {
   
    margin: 100px auto 0;
    color:rgba(24, 24, 24, 0.616);
    border-radius:3px;
    padding: 30px;
    margin: 100px; 
    transition: .3s ease;
    display: inline-block;
}
.contact-item h2{
    margin-top: 20px;
    font-size:20px;
    
}
.contact-item i{
    width: 20px;
}
.contact-item:hover {
    color:tomato;
    background:#2e2e2e;
    cursor: pointer;
    transform: scale(1.1);
}
/* .contact-item a{
    text-align: center;
    margin: 30px auto;
    color:rgb(90, 84, 84);
    font-size: 18px;
    display: inline-block;
} */
.contact-item p{
    margin: 200px 0 40px;
    text-align: center;
    letter-spacing: .3rem;
}

/*********
footer
**********/
.footer{
    background:rgb(33, 34, 36) ;
    min-height: 180px;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 0px;
}
.footer .social-icon{
    display: flex;
    margin: 20px;
}
.footer .social-item a{
    margin: 25px;
    color:rgba(128, 128, 128, 0.548);
    font-size:15px;
    transition: .3s;
}
.footer .social-item a:hover{
    color:whitesmoke;
}
.footer p{
    color:rgba(245, 245, 245, 0.726);
    font-size: 1.3rem;
}

/**********
 keyframes 
 **********/
 @keyframes hamburger_puls{
     0%{
         opacity: 1;
         transform: scale(1);
     }
     100%{
        opacity: 0;
        transform: scale(1.4);
     }
 }
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color:white;
    }
}
@keyframes text_reveal_name{
    100%{
        color:tomato;
        font-weight: 500px;
    }
}


 /*******
  media query for table 
  ********/
 @media only screen and (min-width:768px){
     *{
        max-width:100%;
     }
     .protfolio{
         font-size:20px;
         padding: 15px 40px;
     }
    .section-title{
         font-size:45px;
     }
     /* media-hero */
     #hero .hero{
         justify-content: center;
         max-width:100%;
     }
     #hero h1{
         font-size:40px;
         letter-spacing: .8rem;
     }
     /* media-service  */
     #services .service-item{
         flex-basis: 40%;
         margin:2.5%;
     }
    /* media-project */
    
    .projects-item{
        justify-content: center;
        flex-direction: row;
        display:flex;
        flex-wrap: wrap;
    }
    .projects-item .box{
        /* width: 500px; */
        width: 35%;
        flex-direction: row;
        justify-content: center;
        padding: 5px;
    }
    .box-info h2{
        text-align: center;
        font-size:30px;
    }
    .box-info p{
        margin: 40px 30px;
        font-size:14px;
    }
    .box-info a{
        font-size:18px;
    }
    .box img{
        width: 400px;
        margin: 5px auto;
    }
    /* media-about */
    .about{
        flex-direction: row;
        margin-top: 100px;
    }
    .col-left{
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    .about .col-left .about-img::after{
        left: -10px;
        top: 50px;
        height: 260px;
        width: 260px;
        border: 8px solid rgba(255, 99, 71, 0.822);
    }
    .about .col-right{
        text-align:left;
        padding: 25px;
    }
    .about h1,h2{
        text-align: left;
    }
    .about p{
        margin-left: 0;
    }
    /* media-contact*/
    .contact{
        height: 50vh;
    }
    .contact p{
        text-align: right;
    }
 }
 

 /******* 
 Media Query for Desktop 
 ********/
 @media only screen and (min-width:1200px){
    #header .hamburger{
        display: none;
    }
    #header .brand{
        padding: 0 20px;
    }
    #header .nav-list ul{
        position: initial;
        display: block;
        height:auto;
        width: fit-content;
        background-color:transparent;
        padding: 0 50px;
    }
    #header .nav-list ul li{
        display: inline-block;
    }
    #header .nav-list ul a{
        font-size:14px;
        
    }
    #header .nav-list ul a:after{
        display:none;
    }
 }
